label for="name" Name:
input#title type="text" name="student[name]" value="#{@student.name}"

label for="phone" Phone:
input#phone type="number" name="student[phone]" value="#{@student.phone}"

label for="address" Address:
textarea#address type="text" name="student[address]" == @student.address

label for="enrole_on" Date(mm/dd/yyyy):
input#enroll_on type="text" name="student[enroll_on]" value="#{@student.enroll_on.strftime("%m/%d/%Y") if @student.enroll_on}"



input type="submit" value="Save Student"
